@model IEnumerable<KomPas.Models.Pas>

@{
    ViewData["Title"] = "Profil psa";
}

<h1>Profil psa</h1>

<style>
  body {
    color: black;
    background-color: burlywood;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 1;
  }
</style>

<p>
    <a asp-action="Delete">Izbriši profil</a>
   <a asp-action="Edit">Uredi profil</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Spol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rasa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tezina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZdravstveniProblem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KastriranSterilisan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slika)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Spol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rasa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tezina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZdravstveniProblem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KastriranSterilisan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slika)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
